.AddContainer {
  margin: 0 auto;
  text-align: center;
}
.addNew-input {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 10px 10px;
  margin: 20px auto;
  display: block;
  width: 70%;
  box-sizing: border-box;
}
.Input:focus {
  outline: none;
  background-color: #ccc;
}
.addNew-btn {
  text-align: center;
}