.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #4CAF50;
  border-bottom: 1px solid darkgreen;
}
.Logo {
  font-family: 'Ruslan Display', cursive;
  font-size: 40px;
  color: #E0E0E0;
}