.Orders-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.Order {
  border: 1px solid #333;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.Orders-item {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding: 5px;
  border-right: 1px solid #333;
}
.Orders-item span {
  width: 30%;
  text-align: center;
  margin-right: 20px;
}
.Orders-item span:first-child {
  text-align: left;
}
.Order-list {
  width: 50%;
}
.Order-total {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}
.Order-total span {
  padding: 5px;
}
.Order-total span:last-child:hover {
  cursor: pointer;
  color: #4CAF50;
}
.submit {
  transform: translateY(10px);
}