.coffeeList__img {
  width: 25%;
}
.coffeeList__item {
  display: flex;
  justify-content: space-around;
  border: 1px solid #999;
  margin: 15px 10px;
  padding: 5px;
}
.coffeeList__title {
  width: 60%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coffeeList__name {
  font-weight: 600;
  font-size: 40px;
  margin: 20px;
  padding: 0;
}
.coffeeList__price {
  font-size: 30px;
  font-weight: 500;
  margin: 0 30px 0 0;
  padding: 0;
}
.coffeeList__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
}
.coffeeList__btn a{
  padding: 5px;
  text-decoration: none;
  color: #333;
}
.coffeeList__btn i {
  display: block;
  text-align: center;
}
.coffeeList__btn span {
  /*border: 1px solid #555;*/
  padding: 5px;
}
.material-icons.md { font-size: 30px; color: #333;
  margin-right: 10px;}
.coffeeList__btn span:hover {cursor: pointer;}